// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_file{
  font-size: 12px;
  margin: 20px 5px;
  border-radius: 5px;
  background-color: white;
  padding: 1px;
  text-decoration: none;
  text-align: center;
  color: black;
  border: solid 1px silver;
  /*dheight: 50px;*/
  /*dwidth: 150px;*/
  /*display: inline-block;*/
}

.table_file{
  margin-bottom: 5px;
}