// Place all the styles related to the owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ck_box_flt{
  margin-left: 15px;
  margin-bottom: 2px;
}

#select_flt{
  width: 450px;
}

#tables{
  display: flex;
  width: 3000px;
}

.table_index{
  margin-right: 20px;
}

.left_file{
  text-align: right;
}

th.right_file{
}

.button_file_all{
  /*height: 20px;*/
  width: 80px;
  font-size: 12px;
  /*display: inline-block;*/
  border-radius: 5px;
  background-color: white;
  padding: 1px;
  text-decoration: none;
  text-align: center;
  color: red;
  border: solid 1px silver;
}